<div class="status">
    <div class="title">Status</div>
    <div class="score">
        <span class="label">Score: </span>
        <span class="value" data-bind="text: score"></span>
    </div>
    <div class="threshhold">
        <span class="label">Next Level At: </span>
        <span class="value" data-bind="text: pointThreshhold"></span>
    </div>
    <div class="intensity">
        <span class="label">Intensity Level: </span>
        <span class="value" data-bind="text: intensity"></span>
    </div>
    <div class="timer" data-bind="text: timeElapsed"></div>
    <div class="pause"><button class="pauseButton" data-bind="click: pauseGame, text: pauseLabel, visible: !paused()">Pause</button></div>
    <div class="heldCrates">
    </div>
    <div class="abilitySlots">
    </div>
</div>