body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.stack {
    min-height:600px;
    width: 80px;

    display: inline-block;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stackContainer {
    display: inline-block;
}

.field {
    text-align: center;
}

.crate {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    height: 20px;
    border: 1px solid gray;

    &.one {
        background-color: orange;
    }

    &.two {
        background-color: brown;
    }

    &.three {
        background-color: blue;
    }

    &.four {
        background-color: green;
    }

    &.five {
        background-color: purple;
    }

    &.matched {
        background-color: gray;
    }
}

.ghosted {
    opacity: 0.5;
}