/* Variables */
/* Mixin */
/* Styles */
html, body {
  height: 100%;
  overflow: hidden; }

body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.stack {
  min-height: 585px;
  width: 80px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.board {
  text-align: center;
  position: relative;
  z-index: 1000; }

.stackContainer {
  display: inline-block; }

.fieldContainer {
  display: inline-block;
  padding: 5px;
  border: 2px solid #EBE608;
  border-radius: 2px;
  margin-bottom: 20px; }

.field {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(80, 80, 80, 0.5);
  padding: 5px;
  border: 2px solid #C4C107; }

.statusContainer {
  display: inline-block;
  float: left;
  position: absolute;
  padding: 4px 5px 5px 5px;
  margin-left: 10px;
  border: 2px solid #EBE608;
  background-color: #444;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.status {
  text-align: left;
  border: 1px solid #C4C107;
  background-color: #666;
  padding: 5px; }
  .status .title {
    font-weight: bold; }
  .status .value {
    font-weight: bold; }

.crate {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  width: 80px;
  height: 20px;
  position: relative;
  margin-bottom: 3px;
  /*
      "bonus",
      "minus",
      "charge",
      "trasher",
      "exploding",
      "activeSpawn",
      "matchSpawn",
      "activePenalty",
      "activeBonus",
      "scramble"
  */ }
  .crate.one {
    background-color: #EBE608;
    -webkit-box-shadow: 0px 3px 0px 0px #C4C107;
    -moz-box-shadow: 0px 3px 0px 0px #C4C107;
    box-shadow: 0px 3px 0px 0px #C4C107; }
  .crate.two {
    background-color: #FF2F1D;
    -webkit-box-shadow: 0px 3px 0px 0px #BF2316;
    -moz-box-shadow: 0px 3px 0px 0px #BF2316;
    box-shadow: 0px 3px 0px 0px #BF2316; }
  .crate.three {
    background-color: #0078FF;
    -webkit-box-shadow: 0px 3px 0px 0px #005DC4;
    -moz-box-shadow: 0px 3px 0px 0px #005DC4;
    box-shadow: 0px 3px 0px 0px #005DC4; }
  .crate.four {
    background-color: #29CC0C;
    -webkit-box-shadow: 0px 3px 0px 0px #27C20B;
    -moz-box-shadow: 0px 3px 0px 0px #27C20B;
    box-shadow: 0px 3px 0px 0px #27C20B; }
  .crate.five {
    background-color: #CE37F0;
    -webkit-box-shadow: 0px 3px 0px 0px #AF2FCC;
    -moz-box-shadow: 0px 3px 0px 0px #AF2FCC;
    box-shadow: 0px 3px 0px 0px #AF2FCC; }
  .crate.rock {
    background-color: black; }
  .crate.rainbow {
    background-color: hotpink; }
  .crate.matched {
    background-color: gray; }
  .crate:after {
    text-align: center;
    color: #fff;
    font-weight: bold;
    left: 0;
    position: absolute;
    width: 100%; }
  .crate.bonus:after {
    content: "BONUS"; }
  .crate.heavy:after {
    content: "HEAVY"; }
  .crate.scramble:after {
    content: "CLUTTER"; }

.modalsContainer .modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 2000; }
.modalsContainer .popup {
  width: 200px;
  height: 100px;
  background-color: #f7f7f7;
  display: inline-block;
  top: 30%;
  position: relative; }
.modalsContainer .message {
  padding: 10px 0 20px;
  color: #222; }
.modalsContainer .buttons button {
  width: 30%; }

#dragPreview {
  display: none; }

.ghosted {
  opacity: 0.5; }

.copyright {
  text-align: center; }

/* Clouds */
#viewport {
  bottom: 0;
  left: 0;
  overflow: hidden;
  perspective: 400;
  position: absolute;
  right: 0;
  top: 0;
  background: #0a0a0a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0a0a0a 0%, #1c1c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a0a0a), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0a0a0a 0%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0a0a0a 0%, #1c1c1c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0a0a0a 0%, #1c1c1c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0a0a0a 0%, #1c1c1c 100%);
  /* W3C */ }

#world {
  height: 512px;
  left: 50%;
  margin-left: -256px;
  margin-top: -256px;
  position: absolute;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  width: 512px; }

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d; }

.cloudBase {
  height: 20px;
  left: 256px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 256px;
  width: 20px; }

.cloudLayer {
  height: 256px;
  left: 50%;
  margin-left: -128px;
  margin-top: -128px;
  position: absolute;
  top: 50%;
  width: 256px;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out; }

/*# sourceMappingURL=app.css.map */
