/* Variables */

$blue: #0078FF;
$darkblue: #005DC4;
$red: #FF2F1D;
$darkred: #BF2316;
$green: #29CC0C;
$darkgreen: #27C20B;
$yellow: #EBE608;
$darkyellow: #C4C107;
$purple: #CE37F0;
$darkpurple: #AF2FCC;

$layer1: 0;
$layer2: 1000;
$layer3: 2000;
$layer4: 3000;

/* Mixin */

@mixin shadow($color) {
    -webkit-box-shadow: 0px 0px 10px 0px $color, inset 0px 0px 10px 0px $color;
-moz-box-shadow:    0px 0px 10px 0px $color, inset 0px 0px 10px 0px $color;
box-shadow:         0px 0px 10px 0px $color, inset 0px 0px 10px 0px $color;
}

/* Styles */

* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: $green;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
background: #000019; /* Old browsers */
background: -moz-linear-gradient(top,  #000019 0%, #000032 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000019), color-stop(100%,#000032)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000019 0%,#000032 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000019 0%,#000032 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000019 0%,#000032 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000019 0%,#000032 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000019', endColorstr='#000032',GradientType=0 ); /* IE6-9 */

}

.stack {
    min-height:585px;
    width: 80px;

    display: inline-block;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.board {
    text-align: center;
    position: relative;
    z-index: $layer2;
}

.stackContainer {
    display: inline-block;
}

.fieldContainer {
    display: inline-block;
    padding: 5px;
    border: 2px solid $yellow;
    border-radius: 2px;
    margin-bottom: 20px;
    @include shadow($yellow);
}

.field {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    border: 2px solid $darkyellow;
    @include shadow($yellow);
}

.statusContainer {
    display: inline-block;
    float: left;
    position: absolute;
    padding: 4px 10px 10px 10px;
    margin-left: 10px;
    border: 2px solid $yellow;
    @include shadow($yellow);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.status {
    text-align: left;

    .title {
        font-weight: bold;
    }

    .value {
        font-weight: bold;
    }
}

.crate {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    width: 80px;
    height: 20px;
    position: relative;
    margin-bottom: 3px;

    &.one {
        border: 2px solid $yellow;
        @include shadow($yellow);
    }

    &.two {
        border: 2px solid $red;
        @include shadow($red);
    }

    &.three {
        border: 2px solid $blue;
        @include shadow($blue);
    }

    &.four {
        border: 2px solid $green;
        @include shadow($green);
    }

    &.five {
        border: 2px solid $purple;
        @include shadow($purple);
    }

    &.rock {
        background-color: black;
    }

    &.rainbow {
        background-color: hotpink;
    }

    &.matched {
        background-color: gray;
    }

    &:after {
        text-align: center;
        color: #fff;
        font-weight: bold;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &.bonus:after {
        content: "BONUS";
    }

    &.heavy:after {
        content: "HEAVY";
    }

    &.scramble:after {
        content: "CLUTTER";
    }

    /*
        "bonus",
        "minus",
        "charge",
        "trasher",
        "exploding",
        "activeSpawn",
        "matchSpawn",
        "activePenalty",
        "activeBonus",
        "scramble"
    */
}

.modalsContainer {
    .modal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        z-index: $layer3;
    }

    .popup {
        width: 200px;
        height: 100px;
        background-color: #f7f7f7;
        display: inline-block;
        top: 30%;
        position: relative;
    }

    .message {
        padding: 10px 0 20px;
        color: #222;
    }

    .buttons button {
        width: 30%;
    }
}

#dragPreview {
    display: none;
}

.ghosted {
    opacity: 0.5;
}

.copyright {
    text-align: center;
}

/* Clouds */
/* #viewport {
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 400; 
    position: absolute;
    right: 0;
    top: 0;
    background: #0a0a0a; 
    background: -moz-linear-gradient(top,  #0a0a0a 0%, #1c1c1c 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a0a0a), color-stop(100%,#1c1c1c)); 
    background: -webkit-linear-gradient(top,  #0a0a0a 0%,#1c1c1c 100%);
    background: -o-linear-gradient(top,  #0a0a0a 0%,#1c1c1c 100%);
    background: -ms-linear-gradient(top,  #0a0a0a 0%,#1c1c1c 100%); 
    background: linear-gradient(to bottom,  #0a0a0a 0%,#1c1c1c 100%); 
}

#world {
    height: 512px;
    left: 50%;
    margin-left: -256px;
    margin-top: -256px;
    position: absolute;
    top: 50%;
   -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
    width: 512px;

}

#world div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;  
    -o-transform-style: preserve-3d;    
}

.cloudBase {
    height: 20px;
    left: 256px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 256px;
    width: 20px;
}

.cloudLayer {
    height: 256px;
    left: 50%;
    margin-left: -128px;
    margin-top: -128px;
    position: absolute;
    top: 50%;
    width: 256px;
    -webkit-transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        transition: opacity .5s ease-out;
}*/

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  -webkit-animation: zoom 5s infinite;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  -webkit-animation-delay: 0s;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  -webkit-animation-delay: 0s;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  -webkit-animation-delay: 0s;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  -webkit-animation-delay: 0s;
  animation-delay: 4s;
}

@-webkit-keyframes zoom {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: .5;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: .5;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
  }
}
